.eyess {
  font-family: "Montserrat", sans-serif;
  color: #a8a8b1;
  font-weight: bolder;
  // color: #fff;
  font-size: 1rem !important;
}

.mar {
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.full {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: -30px;
}

.role {
  font-family: "Montserrat", sans-serif;
  color: #a8a8b1;
  font-size: 1rem;
  font-weight: 200;
}

.img_block {
  display: block;
}

@media (max-width: 768px) {
  .eyess {
    font-size: 1.3rem;
  }
  .mar {
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media (max-width: 280px) {
  .eyess {
    font-size: 1.8rem;
  }
}
